body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
}

/* Scrollbar moderno */
#chatMessages::-webkit-scrollbar {
  width: 6px;
}
#chatMessages::-webkit-scrollbar-thumb {
  background-color: #1e3a8a;
  border-radius: 10px;
}
#chatMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
}
